body {
  margin: 8px;
  display: block;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#mainHeading {
  color: red;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.funParagraph{

  color: green;
  }
